@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-problem-solving:before { content: "\f100"; }
.flaticon-002-24-hours:before { content: "\f101"; }
.flaticon-003-calling:before { content: "\f102"; }
.flaticon-004-questions:before { content: "\f103"; }
.flaticon-005-megaphone:before { content: "\f104"; }
.flaticon-006-customer-service:before { content: "\f105"; }
.flaticon-007-guidebook:before { content: "\f106"; }
.flaticon-008-web:before { content: "\f107"; }
.flaticon-009-helping-hand:before { content: "\f108"; }
.flaticon-010-technical-support:before { content: "\f109"; }
.flaticon-011-donation:before { content: "\f10a"; }
.flaticon-012-smartphones:before { content: "\f10b"; }
.flaticon-013-email:before { content: "\f10c"; }
.flaticon-014-teamwork:before { content: "\f10d"; }
.flaticon-015-thinking:before { content: "\f10e"; }
.flaticon-016-social-care:before { content: "\f10f"; }
.flaticon-017-giving:before { content: "\f110"; }
.flaticon-018-internet:before { content: "\f111"; }
.flaticon-019-searching:before { content: "\f112"; }
.flaticon-020-net:before { content: "\f113"; }
.flaticon-021-help:before { content: "\f114"; }
.flaticon-022-gear:before { content: "\f115"; }
.flaticon-023-thumb-up:before { content: "\f116"; }
.flaticon-024-file:before { content: "\f117"; }
.flaticon-025-location:before { content: "\f118"; }
.flaticon-026-question:before { content: "\f119"; }
.flaticon-027-rating:before { content: "\f11a"; }
.flaticon-028-feedback:before { content: "\f11b"; }
.flaticon-029-guidance:before { content: "\f11c"; }
.flaticon-030-forum:before { content: "\f11d"; }
.flaticon-031-rating:before { content: "\f11e"; }
.flaticon-032-review:before { content: "\f11f"; }
.flaticon-033-motivation:before { content: "\f120"; }
.flaticon-034-faq:before { content: "\f121"; }
.flaticon-035-motivation:before { content: "\f122"; }
.flaticon-036-family:before { content: "\f123"; }
.flaticon-037-hand:before { content: "\f124"; }
.flaticon-038-volunteer:before { content: "\f125"; }
.flaticon-039-padlock:before { content: "\f126"; }
.flaticon-040-charity:before { content: "\f127"; }
.flaticon-041-folder:before { content: "\f128"; }
.flaticon-042-computer:before { content: "\f129"; }
.flaticon-043-kindness:before { content: "\f12a"; }
.flaticon-044-handshake:before { content: "\f12b"; }
.flaticon-045-achievement:before { content: "\f12c"; }
.flaticon-046-medical-support:before { content: "\f12d"; }
.flaticon-047-toolbox:before { content: "\f12e"; }
.flaticon-048-instructions:before { content: "\f12f"; }
.flaticon-049-share:before { content: "\f130"; }
.flaticon-050-gear:before { content: "\f131"; }